name = "TodoFiles"
uuid = "358ed29a-d93c-4fe8-8ea3-c6948dc61de3"
version = "0.1.0"
authors = ["Josh Day <emailjoshday@gmail.com>"]

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
